<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Калькулятор</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form method="post" action="/calculator">
    <h4>POST</h4>
    <label for="input__first_number">Первое число:</label>
    <br>
    <input id="input__first_number" name="first" type="number"/>
    <br>
    <br>
    <label for="input__second_number">Второе число:</label>
    <br>
    <input id="input__second_number" name="second" type="number"/>
    <br>
    <br>
    <label for="input__sign">Действие:</label>
    <br>
    <select id="input__sign" name="sign">
        <option value="+" selected>Сложение</option>
        <option value="-">Вычитание</option>
        <option value="*">Умножение</option>
        <option value="/">Деление</option>
    </select>
    <br>
    <br>
    <input type="submit" value="Результат"/>
</form>
<br>
<form method="get" action="/calculator">
    <h6>GET</h6>
    <label for="input__first_number">Первое число:</label>
    <br>
    <input id="input__first_number_1" name="first" type="number"/>
    <br>
    <br>
    <label for="input__second_number">Второе число:</label>
    <br>
    <input id="input__second_number_1" name="second" type="number"/>
    <br>
    <br>
    <label for="input__sign">Действие:</label>
    <br>
    <select id="input__sign_1" name="sign">
        <option value="+" selected>Сложение</option>
        <option value="-">Вычитание</option>
        <option value="*">Умножение</option>
        <option value="/">Деление</option>
    </select>
    <br>
    <br>
    <input type="submit" value="Результат"/>
</form>
<!--Result-->
<div th:if="${error != null || result != null}">
    <br>
    <hr>
    <br>
    <div th:if="${error != null}">
        <h2 th:text="${error}" style="color: red"/>
    </div>
    <div th:if="${result != null}">
        <h2 th:text="'Результат подсчета: ' + ${result}"/>
    </div>
</div>
</body>
</html>